<div class="panel panel-primary">
  <div class="container">
    <h3 class="red-text text-accent-4">Lista de Funcionários</h3>
  </div>
  <div class="container">

    <table class="centered z-depth-4">
      <thead>
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Telefone</th>
        <th>Função</th>
        <th>Data Admissão</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let funcionario of funcionarios | async">
        <td>{{funcionario.nome}}</td>
        <td>{{funcionario.cpf}}</td>
        <td>{{funcionario.telefone}}</td>
        <td>{{funcionario.funcao}}</td>
        <td>{{funcionario.dataAdimissao}}</td>
        <td>
          <button (click)="deletaFuncionario(funcionario.idPessoa)" class="btn-floating waves-effect waves-light btn red lighten-1 ">
            <i class="material-icons">delete</i>
          </button>
          &nbsp; &nbsp;
          <button  (click)="atualizaFuncionario(funcionario.idPessoa)" class="btn-floating waves-effect waves-light btn blue lighten-1 ">
            <i class="material-icons">edit</i>
          </button>

        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
