
  <div class="login z-depth-4">
    <form class="quadrado col s6">
      <div class="row">
        <div class=" col s12">
          <i class=" material-icons prefix">account_circle</i>
          <label for="login">Login</label>
          <input  id="login" type="text" class="validate"   name="login">
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <i class=" material-icons prefix">vpn_key</i>
          <label for="senha">Senha</label>
          <input  id="senha" type="password" class="validate"  name="senha"><br>
          <button type="submit" class="btn-floating waves-effect waves-light btn blue lighten-1 right-align ">
            <i class="material-icons">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>


